* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    background-color: #f2f2f2;
    color: #f2f2f2;
}

.container {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 90%;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.sedans-holder, .suvs-holder, .luxury-holder {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.sedans-holder {
    background-color: #e38826;
    border-radius: 6px 6px 0px 0px;
}

.suvs-holder {
    background-color: #006970;
}

.luxury-holder {
    background-color: #004241;
    border-radius: 0px 0px 6px 6px;
}

h3 {
    margin-top: 2.4rem;
    font-family: "Big Shoulders Display", cursive;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    margin-top: 1.8rem;
    line-height: 25px;
}

button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    border: none;
    border-radius: 48px;
    background-color: #f2f2f2;
    cursor: pointer;
    margin-top: 1.86rem;
}

.sedans-holder > button {
    color: #e38826;
}

.suvs-holder > button {
    color: #006970;
}

.luxury-holder > button {
    color: #004241;
}

button:hover {
    outline: 2px solid #f2f2f2;
    color: #f2f2f2;
    background-color: transparent;
}

@media screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
    }

    .sedans-holder {
        border-radius: 6px 0px 0px 6px;
    }

    .luxury-holder {
        border-radius: 0px 6px 6px 0px;
    }

    p {
        max-width: 82.5%;
    }

    button {
        margin-top: 3.7rem;
    }
}

@media screen and (min-width: 1201px) {
    p {
        max-width: 64%;
    }
}