$mobile: 375px;

$font-family: 'Red Hat Display', sans-serif;
$pale-blue: #e0e8ff;
$bright-blue: #3829e0;

$very-pale-blue: #f5f7ff;
$desaturated-blue: #7280a7;
$dark-blue: #1f2f56;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $pale-blue;
    position: relative;
    font-family: $font-family;
}

.svg-bg {
    position: absolute;
    z-index: -1;
    background: url('./images/pattern-background-desktop.svg');
    width: 1440px;
    height: 437px;
    background-size: 1440px 437px;
    background-repeat: no-repeat;
    @media(max-width: $mobile) {
        background: url('./images/pattern-background-mobile.svg');
        width: 375px;
        height: 194px;
        background-size: 375px 194px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .order-summary-holder {
        margin-top: 102px;
        margin-bottom: 101px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border-radius: 18px;
        width: 450px;
        height: 697px;
        @media(max-width: $mobile) {
            margin-top: 71px;
            margin-bottom: 71px;
            width: 327px;
            height: 567px;
        }
        .svg-holder {
            width: 450px;
            height: 220px;
            border-radius: 0;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            background-image: url('./images/illustration-hero.svg');
            @media(max-width: $mobile) {
                width: 327px;
                height: 161px;
                background-size: 327px 161px;
            }
        }
        h1 {
            margin-top: 45px;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            @media(max-width: $mobile) {
                margin-top: 31px;
                font-size: 23px;
            }
        }
        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
            margin-top: 18px;
            width: 292px;
            color: $desaturated-blue;
            @media(max-width: $mobile) {
                font-size: 15px;
                line-height: 25px;
                margin-top: 18px;
                width: 248px;
            }
        }
        .selected-plan-holder {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 18px;
            // justify-content: space-evenly;
            width: 355px;
            height: 100px;
            background-color: $very-pale-blue;
            border-radius: 18px;
            @media(max-width: $mobile) {
                border-radius: 9px;
                width: 279px;
                height: 81px;
            }
            svg {
                margin-left: 24px;
                @media(max-width: $mobile) {
                    margin-left: 16px;
                }
            }
            .plan-infos {
                margin-left: 21px;
                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: $dark-blue;
                    @media(max-width: $mobile) {
                        font-size: 15px;
                    }
                }
                label {
                    margin-top: 6px;
                    font-size: 16px;
                    font-weight: 500;
                    color: $desaturated-blue;
                    @media(max-width: $mobile) {
                        font-size: 15px;
                        margin-top: 3px;
                    }
                }
            }
            a {
                font-size: 14px;
                font-weight: 700;
                color: $bright-blue;
                margin-left: 93px;
                &:hover {
                    opacity: 0.75;
                    text-decoration: none;
                }
                @media(max-width: $mobile) {
                    font-size: 13px;
                    margin-left: 51px;
                }
            }
        }
        button {
            margin-top: 34px;
            width: 355px;
            height: 51px;
            background-color: $bright-blue;
            font-family: $font-family;
            font-size: 16px;
            font-weight: 700;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
            @media(max-width: $mobile) {
                width: 279px;
                font-size: 15px;
                margin-top: 24px;
            }
        }
        a#cancel-order {
            margin-top: 32px;
            font-size: 15px;
            font-weight: 700;
            color: $desaturated-blue;
            text-decoration: none;
            &:hover {
                color: $dark-blue;
            }
            @media(max-width: $mobile) {
                margin-top: 16px;
            }
        }
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }    
}