$mobile: 375px;

$font-family: 'Karla', sans-serif;

$cyan: #2ab2af;
$bright-yellow: #c0df34;
$light-gray: #e5eff5;
$grayish-blue: #98a6bd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 16px;
    background-color: $light-gray;
    color: $light-gray;
}

.container {
    width: 636px;
    height: 475px;
    margin-top: 163px;
    display: grid;
    grid-template-areas:    "join join"
                            "sign why";
    grid-template-rows: 216px 259px;
    grid-template-columns: 318px 318px;
    @media(max-width: $mobile) {
        width: 311px;
        height: 723px;
        margin-top: 72px;
        grid-template-areas:    "join"
                                "sign"
                                "why";
        grid-template-rows: 267px 228px 228px;
        grid-template-columns: 311px;
    }
    .join-community-holder {
        grid-area: join;
        background-color: white;
        border-radius: 6px 6px 0px 0px;
        h1 {
            font-size: 24px;
            font-weight: 700;
            color: $cyan;
            margin-top: 40px;
            margin-left: 40px;
        }
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: $bright-yellow;
            margin-top: 25px;
            margin-left: 40px;
        }
        p {
            color: $grayish-blue;
            line-height: 26px;
            max-width: 528px;
            margin-top: 12px;
            margin-left: 40px;
        }
        @media(max-width: $mobile) {
            h1 {
                font-size: 20px;
                margin-top: 28px;
                margin-left: 24px;
            }
            h3 {
                font-size: 15px;
                margin-top: 25px;
                margin-left: 24px;
                max-width: 263px;
            }
            p {
                font-size: 14px;
                max-width: 263px;
                letter-spacing: -10;
                margin-top: 18px;
                margin-left: 24px;
            }
        }
    }
    .sign-up-holder {
        grid-area: sign;
        background-color: #2bb3b1;
        border-radius: 0px 0px 0px 6px;
        h3 {
            font-size: 18px;
            font-weight: 700;
            margin-top: 40px;
            margin-left: 40px;
        }
        #price {
            display: inline-block;
            font-size: 32px;
            font-weight: 700;
            margin-left: 40px;
            margin-top: 17px;
        }
        span {
            margin-left: 11px;
        }
        #info {
            font-size: 15px;
            font-weight: 700;
            margin-top: 8px;
            margin-left: 40px;
        }
        button {
            width: 236px;
            height: 49px;
            background-color: $bright-yellow;
            font-weight: 700;
            color: $light-gray;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 30px;
            margin-left: 40px;
        }
        @media(max-width: $mobile) {
            border-radius: 0px;
            h3 {
                margin-top: 24px;
                margin-left: 24px;
            }
            #price {
                margin-left: 24px;
            }
            #info {
                margin-left: 24px;
            }
            button {
                width: 263px;
                margin-left: 24px;
            }
        }

    }
    .why-us-holder {
        grid-area: why;
        background-color: #4ABEBD;
        border-radius: 0px 0px 6px 0px;
        h3 {
            font-size: 18px;
            font-weight: 700;
            margin-top: 40px;
            margin-left: 40px;
        }
        ul {
            margin-top: 19px;
            margin-left: 40px;
            li {
                font-size: 14px;
                list-style: none;
                margin-bottom: 3px;
            }
        }
        
        @media(max-width: $mobile) {
            border-radius: 0px 0px 6px 6px;
            h3 {
                margin-top: 24px;
                margin-left: 24px;
            }
            ul {
                margin-left: 24px;
                li {

                }
            }
        }
    }
}
